$foregroundCol = 0xff{foreground.strip}
$backgroundCol = 0xff{background.strip}
$color0 = 0xff{base00}
$color1 = 0xff{base01}
$color2 = 0xff{base02}
$color3 = 0xff{base03}
$color4 = 0xff{base04}
$color5 = 0xff{base05}
$color6 = 0xff{base06}
$color7 = 0xff{base07}
$color8 = 0xff{base08}
$color9 = 0xff{base09}
$color10 = 0xff{base0A}
$color11 = 0xff{base0B}
$color12 = 0xff{base0C}
$color13 = 0xff{base0D}
$color14 = 0xff{base0E}
$color15 = 0xff{base0F}
