{
  "bar.customModules.updates.pollingInterval": 1440000,
  "theme.font.name": "JetBrainsMono Nerd Font",
  "theme.font.label": "JetBrainsMono Nerd Font Semi-Bold",
  "scalingPriority": "hyprland",
  "theme.bar.scaling": 90,
  "theme.font.size": "1rem",
  "theme.bar.floating": false,
  "theme.bar.location": "top",
  "bar.autoHide": "never",
  "theme.bar.buttons.enableBorders": false,
  "theme.bar.menus.monochrome": false,
  "wallpaper.enable": false,
  "theme.bar.menus.background": "#{{base00}}",
  "theme.bar.transparent": false,
  "menus.media.displayTime": false,
  "menus.clock.time.military": true,
  "theme.bar.buttons.windowtitle.enableBorder": false,
  "theme.bar.buttons.bluetooth.enableBorder": false,
  "theme.bar.buttons.battery.enableBorder": false,
  "menus.dashboard.controls.enabled": true,
  "menus.dashboard.stats.enable_gpu": false,
  "theme.bar.buttons.modules.netstat.enableBorder": false,
  "theme.tooltip.scaling": 100,
  "theme.notification.scaling": 100,
  "menus.transition": "crossfade",
  "tear": false,
  "menus.transitionTime": 200,
  "theme.bar.buttons.borderSize": "0.2em",
  "theme.bar.menus.popover.scaling": 90,
  "menus.dashboard.powermenu.avatar.image": "/data/Antonio/avatar/Avatar.png",
  "wallpaper.pywal": false,
  "theme.bar.menus.menu.dashboard.scaling": 100,
  "menus.clock.time.hideSeconds": false,
  "theme.font.weight": 500,
  "theme.bar.buttons.modules.updates.enableBorder": false,
  "bar.notifications.show_total": false,
  "bar.notifications.hideCountWhenZero": false,
  "theme.osd.orientation": "horizontal",
  "theme.osd.location": "bottom",
  "theme.osd.margins": "0px 5px 10px 0px",
  "theme.bar.buttons.modules.power.enableBorder": false,
  "bar.workspaces.show_icons": false,
  "bar.workspaces.show_numbered": false,
  "bar.workspaces.monitorSpecific": true,
  "bar.workspaces.showWsIcons": false,
  "menus.power.lowBatteryNotification": true,
  "bar.clock.format": "%a %I:%M:%S %p",
  "theme.bar.buttons.clock.spacing": "0.6em",
  "bar.workspaces.spacing": 1,
  "menus.clock.weather.location": "Los Angeles",
  "menus.clock.weather.key": "",
  "menus.clock.weather.unit": "imperial",
  "menus.clock.weather.interval": 60000,
  "theme.font.style": "normal",
  "theme.bar.background": "#{{base00-hex}}",
  "theme.bar.buttons.media.icon": "#938888",
  "theme.bar.buttons.media.text": "#938888",
  "theme.bar.buttons.icon": "#938888",
  "theme.bar.buttons.text": "#938888",
  "theme.bar.buttons.hover": "#CA510B",
  "theme.bar.buttons.background": "#{{base00}}",
  "theme.bar.menus.text": "#878C85",
  "theme.bar.menus.border.color": "#BA6638",
  "theme.bar.buttons.media.background": "#{{base00}}",
  "theme.bar.menus.menu.volume.text": "#878C85",
  "theme.bar.menus.menu.volume.card.color": "#282828",
  "theme.bar.menus.menu.volume.label.color": "#645151",
  "theme.bar.menus.popover.text": "#938888",
  "theme.bar.menus.popover.background": "#{{base00}}",
  "theme.bar.menus.menu.dashboard.powermenu.shutdown": "#645151",
  "theme.bar.menus.menu.dashboard.powermenu.confirmation.deny": "#645151",
  "theme.bar.menus.menu.dashboard.powermenu.confirmation.confirm": "#bc8362",
  "theme.bar.menus.menu.dashboard.powermenu.confirmation.button_text": "#{{base00}}",
  "theme.bar.menus.menu.dashboard.powermenu.confirmation.body": "#878C85",
  "theme.bar.menus.menu.dashboard.powermenu.confirmation.label": "#938888",
  "theme.bar.menus.menu.dashboard.powermenu.confirmation.border": "#BA6638",
  "theme.bar.menus.menu.dashboard.powermenu.confirmation.background": "#{{base00}}",
  "theme.bar.menus.menu.dashboard.powermenu.confirmation.card": "#A2582F",
  "theme.bar.menus.menu.notifications.switch.puck": "#CA510B",
  "theme.bar.menus.menu.notifications.switch.disabled": "#BA6638",
  "theme.bar.menus.menu.notifications.switch.enabled": "#938888",
  "theme.bar.menus.menu.notifications.clear": "#645151",
  "theme.bar.menus.menu.notifications.switch_divider": "#CA510B",
  "theme.bar.menus.menu.notifications.border": "#BA6638",
  "theme.bar.menus.menu.notifications.card": "#282828",
  "theme.bar.menus.menu.notifications.background": "#{{base00}}",
  "theme.bar.menus.menu.notifications.no_notifications_label": "#BA6638",
  "theme.bar.menus.menu.notifications.label": "#938888",
  "theme.bar.menus.menu.dashboard.monitors.disk.label": "#A8D3DA",
  "theme.bar.menus.menu.dashboard.monitors.disk.bar": "#A8D3DA",
  "theme.bar.menus.menu.dashboard.monitors.disk.icon": "#A8D3DA",
  "theme.bar.menus.menu.dashboard.monitors.gpu.label": "#bc8362",
  "theme.bar.menus.menu.dashboard.monitors.gpu.bar": "#bc8362",
  "theme.bar.menus.menu.dashboard.monitors.gpu.icon": "#bc8362",
  "theme.bar.menus.menu.dashboard.monitors.ram.label": "#c28e71",
  "theme.bar.menus.menu.dashboard.monitors.ram.bar": "#c28e71",
  "theme.bar.menus.menu.dashboard.monitors.ram.icon": "#c28e71",
  "theme.bar.menus.menu.dashboard.monitors.cpu.label": "#645151",
  "theme.bar.menus.menu.dashboard.monitors.cpu.bar": "#645151",
  "theme.bar.menus.menu.dashboard.monitors.cpu.icon": "#645151",
  "theme.bar.menus.menu.dashboard.monitors.bar_background": "#CA510B",
  "theme.bar.menus.menu.dashboard.directories.right.bottom.color": "#938888",
  "theme.bar.menus.menu.dashboard.directories.right.middle.color": "#bddde2",
  "theme.bar.menus.menu.dashboard.directories.right.top.color": "#c39173",
  "theme.bar.menus.menu.dashboard.directories.left.bottom.color": "#645151",
  "theme.bar.menus.menu.dashboard.directories.left.middle.color": "#c28e71",
  "theme.bar.menus.menu.dashboard.directories.left.top.color": "#A8D3DA",
  "theme.bar.menus.menu.dashboard.controls.input.text": "#{{base00}}",
  "theme.bar.menus.menu.dashboard.controls.input.background": "#A8D3DA",
  "theme.bar.menus.menu.dashboard.controls.volume.text": "#{{base00}}",
  "theme.bar.menus.menu.dashboard.controls.volume.background": "#645151",
  "theme.bar.menus.menu.dashboard.controls.notifications.text": "#{{base00}}",
  "theme.bar.menus.menu.dashboard.controls.notifications.background": "#c28e71",
  "theme.bar.menus.menu.dashboard.controls.bluetooth.text": "#{{base00}}",
  "theme.bar.menus.menu.dashboard.controls.bluetooth.background": "#9ec981",
  "theme.bar.menus.menu.dashboard.controls.wifi.text": "#{{base00}}",
  "theme.bar.menus.menu.dashboard.controls.wifi.background": "#bddde2",
  "theme.bar.menus.menu.dashboard.controls.disabled": "#C9682D",
  "theme.bar.menus.menu.dashboard.shortcuts.recording": "#bc8362",
  "theme.bar.menus.menu.dashboard.shortcuts.text": "#{{base00}}",
  "theme.bar.menus.menu.dashboard.shortcuts.background": "#938888",
  "theme.bar.menus.menu.dashboard.powermenu.sleep": "#9ec981",
  "theme.bar.menus.menu.dashboard.powermenu.logout": "#bc8362",
  "theme.bar.menus.menu.dashboard.powermenu.restart": "#bb8060",
  "theme.bar.menus.menu.dashboard.profile.name": "#A8D3DA",
  "theme.bar.menus.menu.dashboard.border.color": "#BA6638",
  "theme.bar.menus.menu.dashboard.background.color": "#{{base00}}",
  "theme.bar.menus.menu.dashboard.card.color": "#282828",
  "theme.bar.menus.menu.clock.weather.hourly.temperature": "#A8D3DA",
  "theme.bar.menus.menu.clock.weather.hourly.icon": "#A8D3DA",
  "theme.bar.menus.menu.clock.weather.hourly.time": "#A8D3DA",
  "theme.bar.menus.menu.clock.weather.thermometer.extremelycold": "#9ec981",
  "theme.bar.menus.menu.clock.weather.thermometer.cold": "#9ec981",
  "theme.bar.menus.menu.clock.weather.thermometer.moderate": "#938888",
  "theme.bar.menus.menu.clock.weather.thermometer.hot": "#bb8060",
  "theme.bar.menus.menu.clock.weather.thermometer.extremelyhot": "#645151",
  "theme.bar.menus.menu.clock.weather.stats": "#A8D3DA",
  "theme.bar.menus.menu.clock.weather.status": "#c39173",
  "theme.bar.menus.menu.clock.weather.temperature": "#878C85",
  "theme.bar.menus.menu.clock.weather.icon": "#A8D3DA",
  "theme.bar.menus.menu.clock.calendar.contextdays": "#C9682D",
  "theme.bar.menus.menu.clock.calendar.days": "#878C85",
  "theme.bar.menus.menu.clock.calendar.currentday": "#A8D3DA",
  "theme.bar.menus.menu.clock.calendar.paginator": "#A8D3DA",
  "theme.bar.menus.menu.clock.calendar.weekdays": "#A8D3DA",
  "theme.bar.menus.menu.clock.calendar.yearmonth": "#c39173",
  "theme.bar.menus.menu.clock.time.timeperiod": "#c39173",
  "theme.bar.menus.menu.clock.time.time": "#A8D3DA",
  "theme.bar.menus.menu.clock.text": "#878C85",
  "theme.bar.menus.menu.clock.border.color": "#BA6638",
  "theme.bar.menus.menu.clock.background.color": "#{{base00}}",
  "theme.bar.menus.menu.clock.card.color": "#282828",
  "theme.bar.menus.menu.battery.slider.puck": "#C9682D",
  "theme.bar.menus.menu.battery.slider.backgroundhover": "#CA510B",
  "theme.bar.menus.menu.battery.slider.background": "#C9682D",
  "theme.bar.menus.menu.battery.slider.primary": "#c28e71",
  "theme.bar.menus.menu.battery.icons.active": "#c28e71",
  "theme.bar.menus.menu.battery.icons.passive": "#939ab7",
  "theme.bar.menus.menu.battery.listitems.active": "#c28e71",
  "theme.bar.menus.menu.battery.listitems.passive": "#878C85",
  "theme.bar.menus.menu.battery.text": "#878C85",
  "theme.bar.menus.menu.battery.label.color": "#c28e71",
  "theme.bar.menus.menu.battery.border.color": "#BA6638",
  "theme.bar.menus.menu.battery.background.color": "#{{base00}}",
  "theme.bar.menus.menu.battery.card.color": "#282828",
  "theme.bar.menus.menu.systray.dropdownmenu.divider": "#A2582F",
  "theme.bar.menus.menu.systray.dropdownmenu.text": "#878C85",
  "theme.bar.menus.menu.systray.dropdownmenu.background": "#{{base00}}",
  "theme.bar.menus.menu.bluetooth.iconbutton.active": "#9ec981",
  "theme.bar.menus.menu.bluetooth.iconbutton.passive": "#878C85",
  "theme.bar.menus.menu.bluetooth.icons.active": "#9ec981",
  "theme.bar.menus.menu.bluetooth.icons.passive": "#939ab7",
  "theme.bar.menus.menu.bluetooth.listitems.active": "#9ec981",
  "theme.bar.menus.menu.bluetooth.listitems.passive": "#878C85",
  "theme.bar.menus.menu.bluetooth.switch.puck": "#CA510B",
  "theme.bar.menus.menu.bluetooth.switch.disabled": "#BA6638",
  "theme.bar.menus.menu.bluetooth.switch.enabled": "#9ec981",
  "theme.bar.menus.menu.bluetooth.switch_divider": "#CA510B",
  "theme.bar.menus.menu.bluetooth.status": "#C9682D",
  "theme.bar.menus.menu.bluetooth.text": "#878C85",
  "theme.bar.menus.menu.bluetooth.label.color": "#9ec981",
  "theme.bar.menus.menu.bluetooth.border.color": "#BA6638",
  "theme.bar.menus.menu.bluetooth.background.color": "#{{base00}}",
  "theme.bar.menus.menu.bluetooth.card.color": "#282828",
  "theme.bar.menus.menu.network.iconbuttons.active": "#bddde2",
  "theme.bar.menus.menu.network.iconbuttons.passive": "#878C85",
  "theme.bar.menus.menu.network.icons.active": "#bddde2",
  "theme.bar.menus.menu.network.icons.passive": "#939ab7",
  "theme.bar.menus.menu.network.listitems.active": "#bddde2",
  "theme.bar.menus.menu.network.listitems.passive": "#878C85",
  "theme.bar.menus.menu.network.status.color": "#C9682D",
  "theme.bar.menus.menu.network.text": "#878C85",
  "theme.bar.menus.menu.network.label.color": "#bddde2",
  "theme.bar.menus.menu.network.border.color": "#BA6638",
  "theme.bar.menus.menu.network.background.color": "#{{base00}}",
  "theme.bar.menus.menu.network.card.color": "#282828",
  "theme.bar.menus.menu.volume.input_slider.puck": "#C9682D",
  "theme.bar.menus.menu.volume.input_slider.backgroundhover": "#CA510B",
  "theme.bar.menus.menu.volume.input_slider.background": "#C9682D",
  "theme.bar.menus.menu.volume.input_slider.primary": "#645151",
  "theme.bar.menus.menu.volume.audio_slider.puck": "#C9682D",
  "theme.bar.menus.menu.volume.audio_slider.backgroundhover": "#CA510B",
  "theme.bar.menus.menu.volume.audio_slider.background": "#C9682D",
  "theme.bar.menus.menu.volume.audio_slider.primary": "#645151",
  "theme.bar.menus.menu.volume.icons.active": "#645151",
  "theme.bar.menus.menu.volume.icons.passive": "#939ab7",
  "theme.bar.menus.menu.volume.iconbutton.active": "#645151",
  "theme.bar.menus.menu.volume.iconbutton.passive": "#878C85",
  "theme.bar.menus.menu.volume.listitems.active": "#645151",
  "theme.bar.menus.menu.volume.listitems.passive": "#878C85",
  "theme.bar.menus.menu.volume.border.color": "#BA6638",
  "theme.bar.menus.menu.volume.background.color": "#{{base00}}",
  "theme.bar.menus.menu.media.slider.puck": "#C9682D",
  "theme.bar.menus.menu.media.slider.backgroundhover": "#CA510B",
  "theme.bar.menus.menu.media.slider.background": "#C9682D",
  "theme.bar.menus.menu.media.slider.primary": "#A8D3DA",
  "theme.bar.menus.menu.media.buttons.text": "#{{base00}}",
  "theme.bar.menus.menu.media.buttons.background": "#938888",
  "theme.bar.menus.menu.media.buttons.enabled": "#c39173",
  "theme.bar.menus.menu.media.buttons.inactive": "#C9682D",
  "theme.bar.menus.menu.media.border.color": "#BA6638",
  "theme.bar.menus.menu.media.background.color": "#{{base00}}",
  "theme.bar.menus.menu.media.album": "#A8D3DA",
  "theme.bar.menus.menu.media.artist": "#c39173",
  "theme.bar.menus.menu.media.song": "#938888",
  "theme.bar.menus.tooltip.text": "#878C85",
  "theme.bar.menus.tooltip.background": "#{{base00}}",
  "theme.bar.menus.dropdownmenu.divider": "#A2582F",
  "theme.bar.menus.dropdownmenu.text": "#878C85",
  "theme.bar.menus.dropdownmenu.background": "#{{base00}}",
  "theme.bar.menus.slider.puck": "#C9682D",
  "theme.bar.menus.slider.backgroundhover": "#CA510B",
  "theme.bar.menus.slider.background": "#C9682D",
  "theme.bar.menus.slider.primary": "#938888",
  "theme.bar.menus.progressbar.background": "#CA510B",
  "theme.bar.menus.progressbar.foreground": "#938888",
  "theme.bar.menus.iconbuttons.active": "#938888",
  "theme.bar.menus.iconbuttons.passive": "#878C85",
  "theme.bar.menus.buttons.text": "#{{base00}}",
  "theme.bar.menus.buttons.disabled": "#C9682D",
  "theme.bar.menus.buttons.active": "#A8D3DA",
  "theme.bar.menus.buttons.default": "#938888",
  "theme.bar.menus.switch.puck": "#CA510B",
  "theme.bar.menus.switch.disabled": "#BA6638",
  "theme.bar.menus.switch.enabled": "#938888",
  "theme.bar.menus.icons.active": "#938888",
  "theme.bar.menus.icons.passive": "#C9682D",
  "theme.bar.menus.listitems.active": "#938888",
  "theme.bar.menus.listitems.passive": "#878C85",
  "theme.bar.menus.label": "#938888",
  "theme.bar.menus.feinttext": "#BA6638",
  "theme.bar.menus.dimtext": "#C9682D",
  "theme.bar.menus.cards": "#1d2021",
  "theme.bar.buttons.notifications.total": "#938888",
  "theme.bar.buttons.notifications.icon": "#938888",
  "theme.bar.buttons.notifications.background": "#{{base00}}",
  "theme.bar.buttons.clock.icon": "#A8D3DA",
  "theme.bar.buttons.clock.text": "#A8D3DA",
  "theme.bar.buttons.clock.background": "#{{base00}}",
  "theme.bar.buttons.battery.icon": "#c28e71",
  "theme.bar.buttons.battery.text": "#c28e71",
  "theme.bar.buttons.battery.background": "#{{base00}}",
  "theme.bar.buttons.systray.background": "#{{base00}}",
  "theme.bar.buttons.bluetooth.icon": "#9ec981",
  "theme.bar.buttons.bluetooth.text": "#9ec981",
  "theme.bar.buttons.bluetooth.background": "#{{base00}}",
  "theme.bar.buttons.network.icon": "#bddde2",
  "theme.bar.buttons.network.text": "#bddde2",
  "theme.bar.buttons.network.background": "#{{base00}}",
  "theme.bar.buttons.volume.icon": "#645151",
  "theme.bar.buttons.volume.text": "#645151",
  "theme.bar.buttons.volume.background": "#{{base00}}",
  "theme.bar.buttons.windowtitle.icon": "#A8D3DA",
  "theme.bar.buttons.windowtitle.text": "#A8D3DA",
  "theme.bar.buttons.windowtitle.background": "#{{base00}}",
  "theme.bar.buttons.workspaces.active": "#A8D3DA",
  "theme.bar.buttons.workspaces.occupied": "#f0c6c6",
  "theme.bar.buttons.workspaces.available": "#9ec981",
  "theme.bar.buttons.workspaces.hover": "#CA510B",
  "theme.bar.buttons.workspaces.background": "#{{base00}}",
  "theme.bar.buttons.dashboard.icon": "#c28e71",
  "theme.bar.buttons.dashboard.background": "#{{base00}}",
  "theme.osd.label": "#938888",
  "theme.osd.icon": "#{{base00}}",
  "theme.osd.bar_overflow_color": "#645151",
  "theme.osd.bar_empty_color": "#BA6638",
  "theme.osd.bar_color": "#938888",
  "theme.osd.icon_container": "#938888",
  "theme.osd.bar_container": "#{{base00}}",
  "theme.notification.close_button.label": "#{{base00}}",
  "theme.notification.close_button.background": "#645151",
  "theme.notification.labelicon": "#938888",
  "theme.notification.text": "#878C85",
  "theme.notification.time": "#8087a2",
  "theme.notification.border": "#BA6638",
  "theme.notification.label": "#938888",
  "theme.notification.actions.text": "#{{base00}}",
  "theme.notification.actions.background": "#938888",
  "theme.notification.background": "#{{base00}}",
  "theme.bar.buttons.workspaces.numbered_active_highlighted_text_color": "#A2582F",
  "theme.bar.buttons.workspaces.numbered_active_underline_color": "#A8D3DA",
  "theme.bar.menus.menu.media.card.color": "#282828",
  "theme.bar.menus.check_radio_button.background": "#181826",
  "theme.bar.menus.check_radio_button.active": "#b7bcf8",
  "theme.bar.buttons.style": "default",
  "theme.bar.menus.menu.notifications.pager.button": "#938888",
  "theme.bar.menus.menu.notifications.scrollbar.color": "#938888",
  "theme.bar.menus.menu.notifications.pager.label": "#939ab7",
  "theme.bar.menus.menu.notifications.pager.background": "#{{base00}}",
  "theme.bar.buttons.clock.icon_background": "#A8D3DA",
  "theme.bar.buttons.modules.ram.icon": "#c28e71",
  "theme.bar.buttons.modules.storage.icon_background": "#645151",
  "theme.bar.menus.popover.border": "#{{base00}}",
  "theme.bar.buttons.volume.icon_background": "#645151",
  "theme.bar.menus.menu.power.buttons.sleep.icon_background": "#9ec981",
  "theme.bar.menus.menu.power.buttons.restart.text": "#bb8060",
  "theme.bar.buttons.modules.updates.background": "#{{base00}}",
  "theme.bar.buttons.modules.storage.icon": "#645151",
  "theme.bar.buttons.modules.netstat.background": "#{{base00}}",
  "theme.bar.buttons.modules.weather.icon": "#938888",
  "theme.bar.buttons.modules.netstat.text": "#bc8362",
  "theme.bar.buttons.modules.storage.background": "#{{base00}}",
  "theme.bar.buttons.modules.power.icon": "#645151",
  "theme.bar.buttons.modules.storage.text": "#645151",
  "theme.bar.buttons.modules.cpu.background": "#{{base00}}",
  "theme.bar.menus.menu.power.border.color": "#BA6638",
  "theme.bar.buttons.network.icon_background": "#caa6f7",
  "theme.bar.buttons.modules.power.icon_background": "#645151",
  "theme.bar.menus.menu.power.buttons.logout.icon": "#{{base00}}",
  "theme.bar.menus.menu.power.buttons.restart.icon_background": "#bb8060",
  "theme.bar.menus.menu.power.buttons.restart.icon": "#{{base00}}",
  "theme.bar.buttons.modules.cpu.icon": "#645151",
  "theme.bar.buttons.battery.icon_background": "#c28e71",
  "theme.bar.buttons.modules.kbLayout.icon_background": "#9ec981",
  "theme.bar.buttons.modules.weather.text": "#938888",
  "theme.bar.menus.menu.power.buttons.shutdown.icon": "#{{base00}}",
  "theme.bar.menus.menu.power.buttons.sleep.text": "#9ec981",
  "theme.bar.buttons.modules.weather.icon_background": "#938888",
  "theme.bar.menus.menu.power.buttons.shutdown.background": "#A2582F",
  "theme.bar.buttons.media.icon_background": "#938888",
  "theme.bar.menus.menu.power.buttons.logout.background": "#A2582F",
  "theme.bar.buttons.modules.kbLayout.icon": "#9ec981",
  "theme.bar.buttons.modules.ram.icon_background": "#c28e71",
  "theme.bar.menus.menu.power.buttons.shutdown.icon_background": "#645151",
  "theme.bar.menus.menu.power.buttons.shutdown.text": "#645151",
  "theme.bar.menus.menu.power.buttons.sleep.background": "#A2582F",
  "theme.bar.buttons.modules.ram.text": "#c28e71",
  "theme.bar.menus.menu.power.buttons.logout.text": "#bc8362",
  "theme.bar.buttons.modules.updates.icon_background": "#bddde2",
  "theme.bar.buttons.modules.kbLayout.background": "#{{base00}}",
  "theme.bar.buttons.modules.power.background": "#{{base00}}",
  "theme.bar.buttons.modules.weather.background": "#{{base00}}",
  "theme.bar.buttons.icon_background": "#{{base00}}",
  "theme.bar.menus.menu.power.background.color": "#{{base00}}",
  "theme.bar.buttons.modules.ram.background": "#{{base00}}",
  "theme.bar.buttons.modules.netstat.icon": "#bc8362",
  "theme.bar.buttons.windowtitle.icon_background": "#A8D3DA",
  "theme.bar.buttons.modules.cpu.icon_background": "#645151",
  "theme.bar.menus.menu.power.buttons.logout.icon_background": "#bc8362",
  "theme.bar.buttons.modules.updates.text": "#bddde2",
  "theme.bar.menus.menu.power.buttons.sleep.icon": "#{{base00}}",
  "theme.bar.buttons.bluetooth.icon_background": "#89dbeb",
  "theme.bar.menus.menu.power.buttons.restart.background": "#A2582F",
  "theme.bar.buttons.modules.updates.icon": "#bddde2",
  "theme.bar.buttons.modules.cpu.text": "#645151",
  "theme.bar.buttons.modules.netstat.icon_background": "#bc8362",
  "theme.bar.buttons.modules.kbLayout.text": "#9ec981",
  "theme.bar.buttons.notifications.icon_background": "#938888",
  "theme.bar.buttons.modules.power.border": "#645151",
  "theme.bar.buttons.modules.weather.border": "#938888",
  "theme.bar.buttons.modules.updates.border": "#bddde2",
  "theme.bar.buttons.modules.kbLayout.border": "#9ec981",
  "theme.bar.buttons.modules.netstat.border": "#bc8362",
  "theme.bar.buttons.modules.storage.border": "#645151",
  "theme.bar.buttons.modules.cpu.border": "#645151",
  "theme.bar.buttons.modules.ram.border": "#c28e71",
  "theme.bar.buttons.notifications.border": "#938888",
  "theme.bar.buttons.clock.border": "#A8D3DA",
  "theme.bar.buttons.battery.border": "#c28e71",
  "theme.bar.buttons.systray.border": "#CA510B",
  "theme.bar.buttons.bluetooth.border": "#9ec981",
  "theme.bar.buttons.network.border": "#bddde2",
  "theme.bar.buttons.volume.border": "#645151",
  "theme.bar.buttons.media.border": "#938888",
  "theme.bar.buttons.windowtitle.border": "#A8D3DA",
  "theme.bar.buttons.workspaces.border": "#{{base00}}",
  "theme.bar.buttons.dashboard.border": "#c28e71",
  "theme.bar.buttons.modules.submap.background": "#{{base00}}",
  "theme.bar.buttons.modules.submap.text": "#c39173",
  "theme.bar.buttons.modules.submap.border": "#c39173",
  "theme.bar.buttons.modules.submap.icon": "#c39173",
  "theme.bar.buttons.modules.submap.icon_background": "#{{base00}}",
  "theme.bar.menus.menu.network.switch.puck": "#CA510B",
  "theme.bar.menus.menu.network.switch.disabled": "#BA6638",
  "theme.bar.menus.menu.network.switch.enabled": "#bddde2",
  "theme.bar.buttons.systray.customIcon": "#878C85",
  "theme.bar.border.color": "#938888",
  "theme.bar.menus.menu.media.timestamp": "#878C85",
  "theme.bar.buttons.borderColor": "#938888",
  "theme.bar.buttons.modules.hyprsunset.icon": "#c28e71",
  "theme.bar.buttons.modules.hyprsunset.background": "#{{base00}}",
  "theme.bar.buttons.modules.hyprsunset.icon_background": "#c28e71",
  "theme.bar.buttons.modules.hyprsunset.text": "#c28e71",
  "theme.bar.buttons.modules.hyprsunset.border": "#c28e71",
  "theme.bar.buttons.modules.hypridle.icon": "#645151",
  "theme.bar.buttons.modules.hypridle.background": "#{{base00}}",
  "theme.bar.buttons.modules.hypridle.icon_background": "#645151",
  "theme.bar.buttons.modules.hypridle.text": "#645151",
  "theme.bar.buttons.modules.hypridle.border": "#645151",
  "theme.bar.menus.menu.network.scroller.color": "#bddde2",
  "theme.bar.menus.menu.bluetooth.scroller.color": "#9ec981",
  "theme.bar.buttons.modules.cava.background": "#{{base00}}",
  "theme.bar.buttons.modules.cava.text": "#c39173",
  "theme.bar.buttons.modules.cava.icon": "#c39173",
  "theme.bar.buttons.modules.cava.icon_background": "#{{base00}}",
  "theme.bar.buttons.modules.cava.border": "#c39173",
  "theme.bar.border.location": "bottom",
  "theme.matugen": false,
  "wallpaper.image": "",
  "theme.matugen_settings.scheme_type": "tonal-spot",
  "theme.matugen_settings.variation": "monochrome_3",
  "theme.matugen_settings.mode": "light",
  "bar.layouts": {
    "0": {
      "left": [
        "dashboard",
        "workspaces",
        "windowtitle",
        "media"
      ],
      "middle": [
        "clock"
      ],
      "right": [
        "bluetooth",
        "network",
        "volume",
        "battery",
        "systray",
        "notifications"
      ]
    },
    "1": {
      "left": [
        "dashboard",
        "workspaces",
        "windowtitle",
        "media"
      ],
      "middle": [
        "clock"
      ],
      "right": [
        "bluetooth",
        "network",
        "volume",
        "battery",
        "systray",
        "notifications"
      ]
    }
  },
  "theme.bar.buttons.workspaces.enableBorder": false,
  "theme.bar.buttons.notifications.enableBorder": false,
  "theme.bar.buttons.spacing": "0.3em",
  "theme.bar.margin_sides": "0.5em",
  "bar.launcher.icon": "󰣇",
  "bar.launcher.autoDetectIcon": true,
  "theme.bar.buttons.dashboard.enableBorder": false,
  "theme.bar.outer_spacing": "0.4em",
  "theme.bar.buttons.padding_x": "0.9rem",
  "theme.bar.buttons.radius": "1.5em",
  "theme.bar.buttons.y_margins": "0.4em",
  "theme.bar.buttons.innerRadiusMultiplier": "0.3",
  "bar.windowtitle.truncation_size": 46,
  "theme.bar.buttons.network.spacing": "0.5em",
  "theme.bar.menus.card_radius": "0.2em",
  "theme.bar.border.width": "0.15em",
  "bar.workspaces.scroll_speed": 3,
  "bar.workspaces.applicationIconOncePerWorkspace": true,
  "bar.workspaces.showAllActive": true,
  "theme.bar.buttons.workspaces.smartHighlight": true,
  "bar.workspaces.workspaces": 3,
  "menus.dashboard.shortcuts.left.shortcut3.command": "vesktop",
  "menus.dashboard.stats.interval": 100,
  "theme.osd.border.size": "0.12rem",
  "menus.dashboard.shortcuts.enabled": true,
  "theme.bar.buttons.modules.microphone.border": "#bc8362",
  "theme.bar.buttons.modules.microphone.text": "#bc8362",
  "theme.bar.buttons.modules.microphone.background": "#{{base00}}",
  "theme.bar.buttons.modules.microphone.icon": "#bc8362",
  "theme.bar.buttons.modules.microphone.icon_background": "#{{base00}}",
  "theme.matugen_settings.contrast": 0,
  "theme.bar.buttons.background_opacity": 55,
  "theme.bar.buttons.monochrome": false,
  "theme.bar.enableShadow": true,
  "theme.bar.buttons.padding_y": "0.2rem",
  "theme.bar.shadowMargins": "0px 0px 1px 0px",
  "theme.bar.buttons.systray.enableBorder": false,
  "theme.bar.menus.enableShadow": false,
  "theme.bar.opacity": 100,
  "theme.osd.border.color": "#8ff0a4",
  "bg": "#1a1b26",
  "bg_dark": "#16161e",
  "bg_dark1": "#0C0E14",
  "bg_highlight": "#292e42",
  "blue": "#7aa2f7",
  "blue0": "#3d59a1",
  "blue1": "#2ac3de",
  "blue2": "#0db9d7",
  "blue5": "#89ddff",
  "blue6": "#b4f9f8",
  "blue7": "#394b70",
  "comment": "#565f89",
  "cyan": "#7dcfff",
  "dark3": "#545c7e",
  "dark5": "#737aa2",
  "fg": "#c0caf5",
  "fg_dark": "#a9b1d6",
  "fg_gutter": "#3b4261",
  "green": "#9ece6a",
  "green1": "#73daca",
  "green2": "#41a6b5",
  "magenta": "#bb9af7",
  "magenta2": "#ff007c",
  "orange": "#ff9e64",
  "purple": "#9d7cd8",
  "red": "#f7768e",
  "red1": "#db4b4b",
  "teal": "#1abc9c",
  "terminal_black": "#414868",
  "yellow": "#e0af68",
  "theme.bar.buttons.notifications.hover": "#BA6638",
  "theme.bar.buttons.clock.hover": "#BA6638",
  "theme.bar.buttons.battery.hover": "#BA6638",
  "theme.bar.buttons.systray.hover": "#BA6638",
  "theme.bar.buttons.bluetooth.hover": "#BA6638",
  "theme.bar.buttons.network.hover": "#BA6638",
  "theme.bar.buttons.volume.hover": "#BA6638",
  "theme.bar.buttons.media.hover": "#BA6638",
  "theme.bar.buttons.windowtitle.hover": "#BA6638",
  "theme.bar.buttons.workspaces.numbered_active_text_color": "#{{base00}}",
  "theme.bar.buttons.dashboard.hover": "#BA6638",
  "theme.bar.menus.menu.power.card.color": "#c0c0c0",
  "theme.bar.buttons.modules.cpu.hover": "#CA510B",
  "theme.bar.buttons.volume.output_icon": "#{{base00}}",
  "theme.bar.buttons.volume.output_text": "#645151",
  "theme.bar.buttons.volume.input_icon": "#{{base00}}",
  "theme.bar.buttons.volume.input_text": "#645151",
  "theme.bar.buttons.volume.separator": "#CA510B",
  "theme.bar.buttons.modules.cpuTemp.icon_background": "#bb8060",
  "theme.bar.buttons.modules.cpuTemp.icon": "#bb8060",
  "theme.bar.buttons.modules.cpuTemp.text": "#bb8060",
  "theme.bar.buttons.modules.cpuTemp.border": "#bb8060",
  "menus.dashboard.shortcuts.left.shortcut1.command": "steam",
  "menus.dashboard.shortcuts.left.shortcut1.tooltip": "Steam",
  "menus.dashboard.shortcuts.left.shortcut1.icon": "",
  "menus.dashboard.shortcuts.left.shortcut2.command": "flatpak run app.zen_browser.zen",
  "menus.dashboard.shortcuts.left.shortcut2.tooltip": "Zen",
  "menus.dashboard.shortcuts.left.shortcut2.icon": "󰈹",
  "theme.bar.buttons.modules.worldclock.text": "#A8D3DA",
  "theme.bar.buttons.modules.worldclock.background": "#{{base00}}",
  "theme.bar.buttons.modules.worldclock.icon_background": "#A8D3DA",
  "theme.bar.buttons.modules.worldclock.icon": "#A8D3DA",
  "theme.bar.buttons.modules.worldclock.border": "#A8D3DA"
}
